(cloudflare) {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

# Notes app (silverbullet)
notes.nigelhaney.com {
    reverse_proxy http://localhost:3000
    import cloudflare
}


# Budget app (actual)
budget.nigelhaney.com {
    reverse_proxy http://localhost:3001
    import cloudflare
}
